
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Usuario
              </th>
              <th scope="col" class="px-6 py-3">
                  Estatus
              </th>
              <th scope="col" class="px-6 py-3">
                  Rol
              </th>
              <th scope="col" class="px-6 py-3">
                  Acciones
              </th>
          </tr>
      </thead>
      <tbody>

        <tr class="bg-white border-b dark:bg-gray-800 text-black" *ngFor="let user of users">
          <th scope="row" class="px-6 py-4 font-medium text-black dark:text-white whitespace-nowrap">
             {{ user.id }}
          </th>
          <td class="px-6 py-4">
              {{ user.name }}
          </td>
          <td class="px-6 py-4">
              {{ user.statusData.status }}
          </td>
          <td class="px-6 py-4">
            {{ user.rolData.name }}
          </td>
          <td class="px-6 py-4 text-right">
            <button (click)="showEditUser(user)"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
          </td>
      </tr>
      </tbody>
  </table>
</div>
