<div>
  <div>
    <div class="lg:pl-72 bg-grey-control-group h-screen" style="background: #eeeeee;">
        <div class="flex flex-col lg:flex-row">
          <submenu-users class="w-full lg:w-1/4"></submenu-users>
          <div class="w-full lg:pt-4">
            <loading *ngIf="loading"></loading>
            <form focusInvalidInput [formGroup]="form" class="w-full bg-white rounded-lg"
                  *ngIf="!loading">
              <div class="flex flex-col p-8">
                <div class="w-full flex flex-row justify-start">
                  <h3>Indique los datos del usuario</h3>
                </div>
                <div class="w-full flex-col lg:flex flex-row justify-start">
                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                      Nombre
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="text"
                           placeholder="Nombre"
                           formControlName="name"
                           [ngClass]="{'border-red-700': form.value.name!.length < 3 || form.value.name!.length > 30}"
                     />
                  </div>

                  <div class="w-full flex flex-col lg:flex-row justify-start">
                    <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="dni">
                        Documento de identificación
                      </label>
                      <input class="shadow appearance-none border
                                    rounded w-full py-2 px-3 text-gray-700
                                    leading-tight focus:outline-none
                                    focus:shadow-outline"
                             type="text"
                             placeholder="XXXXXXXXX"
                             formControlName="dni"
                             [ngClass]="{'border-red-700': form.value.dni!.toString().length < 6}"
                       />
                    </div>

                    <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                        Número de teléfono
                      </label>
                      <input class="shadow appearance-none border
                                    rounded w-full py-2 px-3 text-gray-700
                                    leading-tight focus:outline-none
                                    focus:shadow-outline"
                             type="text"
                             placeholder="04161234567"
                             formControlName="phone"
                             [ngClass]="{'border-red-700': form.value.phone!.length < 10}"
                       />
                    </div>

                  </div>

                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="rol">
                      ROL
                    </label>
                    <select
                        class="shadow appearance-none border
                               rounded w-full py-2 px-3 text-gray-700
                               leading-tight focus:outline-none
                               focus:shadow-outline"
                               id="rol"
                               type="text"
                               placeholder="ROL"
                               formControlName="rol">
                               <option value="0">Seleccionar Rol</option>
                               <option *ngFor="let rol of roles" [value]="rol.id">{{rol.name}}</option>

                       </select>

                  </div>

                </div>

                <div class="w-full flex flex-row justify-start">
                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                      Usuario
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="text"
                           placeholder="username"
                           formControlName="username"
                           [ngClass]="{'border-red-700': form.value.username!.length < 3}"
                     />
                  </div>

                </div>

                <div class="w-full flex flex-row justify-start">
                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                      Correo electronico
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="text"
                           placeholder="ejemplo@controlgroup.com"
                           formControlName="email"
                     />
                  </div>

                </div>

                <div class="w-full flex flex-col lg:flex-row justify-start">
                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                      Contraseña
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="password"
                           placeholder="Contraseña"
                           formControlName="password1"
                           [ngClass]="{'border-red-700': form.value.password1!.length < 10}"
                     />
                  </div>

                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="repeat-password">
                      Repita la contraseña
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="password"
                           placeholder="Contraseña"
                           formControlName="password2"
                           [ngClass]="{'border-red-700': form.value.password2!.length < 10}"
                     />
                  </div>

                </div>

                <div class="w-full flex flex-row justify-end mt-8">
                  <custom-button text="Registrar Usuario" (click)="onSubmit()" [disable]="form.invalid"></custom-button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
