<div>
  <div>
    <div class="lg:pl-80 lg:pt-4 h-screen"  style="background-color: #eeeeee">
      <back-link [route]="'/dashboard/home'"></back-link>
      <search-enterprise
        [statues]="statues"
        (loading)="setLoading($event)"
        (searchedCompanies)="setCompanies($event)"
        (resetCompanies)="resetCompanies()"></search-enterprise>
      <loading *ngIf="loading"></loading>
      <div *ngIf="!loading">
        <enterprise-assignament-card *ngFor="let company of companies" [company]="company"></enterprise-assignament-card>
      </div>
      <load-more class="flex flex-row justify-center my-8 lg:justify-start lg:px-4"
                       (changePagination)="changePagination($event)"
                       [isDisable]="companies.length < 10">
            </load-more>
    </div>
  </div>
</div>
