<div>
  <div>
    <div class="lg:pl-72 bg-grey-control-group h-screen" style="background-color: #eeeeee">
        <div class="flex flex-col lg:flex-row">

          <submenu-users class="w-full lg:w-1/4"></submenu-users>

          <div class="w-full lg:w-4/5 bg-white rounded-lg">
            <div class="flex flex-col">
              <div class="flex justify-evenly items-center lg:justify-evenly pt-16 lg:ml-80">
                <h3 class="text-xl lg:text-2xl">Lista de usuarios</h3>
              </div>
              <div class="flex justify-center p-20 max-w-full overflow-auto">
                <users-table class="w-full" [users]="users"></users-table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
