<div>
  <div>
    <div class="p-32 lg:pl-72 bg-gray-300 h-screen">
        <div class="flex flex-col lg:flex-row">

          <div class="flex flex-row py-5 lg:flex-col w-full lg:w-1/5 lg:ml-6 bg-gray-300 h-full">
            <div class="w-1/2 lg:py-2 lg:w-full">
              <span class="text-xl"><i class="bi bi-person-fill"></i>Lista de Usuario</span>
            </div>

            <div class="w-1/2 lg:py-2 lg:w-full">
              <span class="text-xl"><i class="bi bi-pencil-square"></i>Crear Usuario</span>
            </div>
          </div>

          <div class="w-full lg:w-4/5 bg-white rounded-lg">
            <div class="flex flex-col">
              <div class="flex justify-evenly pt-16 ml-80">
                <h3 class="text-2xl">Lista de usuarios</h3>
                <custom-button text="Nuevo Usuario"></custom-button>
              </div>
              <div class="flex justify-center p-20">
                <users-table></users-table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
