<div>
  <div class="flex flex-col">

    <div class="w-full flex justify-items-start">
      <h5 class="text-xl">Indica los datos del usuario</h5>
    </div>

    <div class="w-full flex-col justify-center items-center lg:flex-row lg:justify-between">
      <div class="my-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Usuario
        </label>
        <input
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="username"
                 type="text"
                 placeholder="Usuario">
      </div>
      <div class="my-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="rol">
          ROL
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="rol"
                 type="text"
                 placeholder="Usuario">
                 <option>Administrador</option>
                 <option>Rol 2</option>
                 <option>Rol 3</option>
         </select>
      </div>
    </div>

    <div class="w-full flex-col justify-center items-center lg:flex-row lg:justify-between">
      <div class="my-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Correo electrónico
        </label>
        <input
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="email"
                 type="email"
                 placeholder="correo@email.com">
      </div>
    </div>

    <div class="w-full flex justify-items-start">
      <h5 class="text-xl">Datos de seguridad</h5>
    </div>

    <div class="w-full flex-col justify-center items-center lg:flex-row lg:justify-between">
      <div class="my-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Contraseña
        </label>
        <input
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="password"
                 type="password"
                 placeholder="correo@email.com">
      </div>
      <div class="my-4 w-full">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="verify-password">
          Repita la  Contraseña
        </label>
        <input
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="verify-password"
                 type="password"
                 placeholder="correo@email.com">
      </div>
    </div>

    <div class="w-full flex-col justify-center items-center lg:flex-row lg:justify-between my-4">
        <custom-button text="Agregar"></custom-button>
    </div>
  </div>
</div>
