
<separator-title [title]="'Lista de categorias'"></separator-title>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex justify-end items-center pt-16 mr-12">
      <a [routerLink]="'/settings/create-category'">
        <custom-button text="Nueva Categoria"></custom-button>
      </a>
    </div>
    <loading *ngIf="loading"></loading>
    <div *ngIf="!loading" class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <settings-categories-table class="w-full"
                                 [categories]="categories">
      </settings-categories-table>
    </div>
  </div>
</div>

