<div class="flex flex-col w-full items-center">

  <div class="w-full flex flex-col justify-center items-center lg:flex-row lg:justify-start">
    <h5 class="text-subtitle">Seleccione la empresa</h5>
  </div>

  <form class="w-full flex flex-col items-center lg:flex-row lg:justify-between" [formGroup]="form">
    <div class="w-1/2 flex flex-col items-center lg:flex-row lg:justify-between">

      <div class="my-4 w-full lg:w-1/2 mx-4">
        <label class="block text-gray-700 text-label font-bold mb-2" for="enterprises">
          Seleccione la empresa
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
                   type="text"
                   placeholder="Empresa"
                   (ngModelChange)="emptyInputs()"
                   formControlName="name">
      </div>

      <div class="my-4 w-full lg:w-1/2 mx-4">
        <label class="block text-gray-700 text-label font-bold mb-2" for="enterprises">
          Escriba el RIF
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
                   type="text"
                   placeholder="RIF"
                   (ngModelChange)="emptyInputs()"
                   formControlName="rif">
      </div>

      <div class="my-4 w-full lg:w-1/2 mx-4">
        <label class="block text-gray-700 text-label font-bold mb-2" for="status">
          Estatus
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
                 id="status">
                 <option *ngFor="let status of statues" [value]="status.id"> {{ status.status }}</option>
         </select>
      </div>
    </div>
    <div class="w-1/2 flex flex-row justify-between">
      <div class="mt-8">
        <custom-button class="mt-4"
                       text="Buscar Empresas"
                       [disable]="form.invalid"
                       (click)="findCompany()"></custom-button>
      </div>
    </div>
  </form>
</div>
