<back-link [route]="'/dashboard/home'"></back-link>
<separator-title title="Roles"></separator-title>
<div class="w-full bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex justify-end items-center pt-16 mr-12">
      <a [routerLink]="'/settings/create-rol'">
        <custom-button text="Nuevo rol"></custom-button>
      </a>
    </div>
    <div class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <settings-rol-table class="w-full"
                          [rols]="rols">
      </settings-rol-table>
    </div>
  </div>
</div>

