
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Categorias
              </th>
              <th scope="col" class="px-6 py-3">
                  Descripción
              </th>
              <th scope="col" class="px-6 py-3">
                  Acciones
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b text-black"
              *ngFor="let category of categories">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                 {{ category.id }}
              </th>
              <td class="px-6 py-4">
                {{ category.name }}
              </td>
              <td class="px-6 py-4">
                  {{ category.description}}
              </td>
              <td class="px-6 py-4 text-right">
                <button
                  type="button"
                  class="font-medium
                        text-blue-600
                        hover:underline"
                        (click)="selectEdit(category)">
                        <i class="bi bi-pencil-square text-2xl mx-2"></i>
                </button>
            </td>
          </tr>
      </tbody>
  </table>
</div>
