<separator-title title="Crear producto"></separator-title>

<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div  class="flex flex-col p-8">

    <loading *ngIf="loading"></loading>
    <form [formGroup]="form">
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Indique los datos del producto</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start" *ngIf="subcategory">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="assignament">
            Subcategoria
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 [value]="subcategory?.name"
                 [disabled]="true"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Asigne un nombre al producto</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Nombre
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Asigne la cantidad y unidad del producto</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="qtx">
            Cantidad
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 placeholder="10"
                 formControlName="quantity"
           />
        </div>

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="unit">
            Indique la unidad de medida (Kg, Gr, etc)
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Kg"
                 formControlName="unit"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Escriba un comentario del producto</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="comments">
            Comentario
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="comentario"
                 formControlName="comments"
           />
        </div>
      </div>

    </form>

    <div class="w-full flex flex-row justify-center lg:justify-end mt-8">
      <custom-button text="Registrar producto"
        [disable]="form.invalid"
        (click)="onSubmit()"></custom-button>
    </div>
  </div>
</div>

