
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                ID
              </th>
              <th scope="col" class="px-6 py-3">
                Instrucción
              </th>
              <th scope="col" class="px-6 py-3">
                Asignación
              </th>
              <th scope="col" class="px-6 py-3">
                Estatus
            </th>
              <th scope="col" class="px-6 py-3">
                Acciones
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b text-black"
              *ngFor="let production of productions">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                {{ production.id }}
              </th>
              <td class="px-6 py-4">
                {{ recipe?.name }}
              </td>
              <td class="px-6 py-4">
                {{ assignament?.name }}
              </td>
              <td class="px-6 py-4">
                {{ production.statusData.status }}
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex flex-row justify-start">
                    <button (click)="selectView(production)"><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                    <a *ngIf="canAccess" [routerLink]="'/providers/create-dispatch/'+supplierId+'/production/'+production.id">
                      <button><i class="bi bi-truck text-2xl mx-2 text-blue-700"></i></button>
                    </a>
                    <button *ngIf="canAccess" (click)="selectRemake(production)"><i class="bi bi-trash text-2xl mx-2 text-blue-700"></i></button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
