
<separator-title [title]="'Nuevo proveedor'"></separator-title>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex flex-col p-8">
    <div class="w-full flex flex-row justify-start">
      <h3>Indique los datos del proveedor</h3>
    </div>
    <div class="w-full flex flex-row justify-start">
      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
          Empresa
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="status"
          type="text"
          placeholder="Usuario">
          <option>Empresa 1</option>
          <option>Empresa 2</option>
          <option>Empresa 3</option>
        </select>
      </div>

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
          Categoría
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="status"
          type="text"
          placeholder="Usuario">
          <option>Categoría 1</option>
          <option>Categoría 2</option>
          <option>Categoría 3</option>
        </select>
      </div>

    </div>

    <div class="w-full flex flex-row justify-start">
      <div class="my-4 w-full lg:w-1/3 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
          Nombre
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="nombre"
         />
      </div>

      <div class="my-4 w-full lg:w-1/3 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
          RIF
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="rif"
         />
      </div>

      <div class="my-4 w-full lg:w-1/3 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
          Nombre comercial
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="nombre"
         />
      </div>
    </div>
    <div class="w-full flex flex-row justify-end mt-8">
      <custom-button text="Agregar"></custom-button>
    </div>
  </div>
</div>

