
<div class="w-screen h-screen top-0 z-50 md:fixed">
  <div id="defaultModal" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed flex items-center justify-center z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shado">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-4 rounded-t border-b">
                <h3 class="text-xl font-semibold text-gray-900">
                  Editar Asignación
                </h3>
                <button type="button"
                        class="text-gray-400
                                 bg-transparent
                               hover:bg-gray-200
                               hover:text-gray-900
                                 rounded-lg text-sm p-1.5
                                 ml-auto inline-flex
                                 items-center"
                        data-modal-toggle="defaultModal"
                        (click)="dialogRef.close()">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form [formGroup]="form">
                  <h5>Datos de Asignación</h5>
                  <div class="flex justify-around">
                    <div class="w-1/2">
                        <span>ID: {{ data.assignment.id }}</span>
                    </div>
                    <div class="w-1/2">
                      <span [ngClass]="{'text-red-700': !colorStatus(), 'text-green-700': colorStatus()}">
                        Estatus: {{data.assignment.statusData.status}}</span>
                    </div>
                  </div>
                  <div class="w-full flex-col justify-center items-center">
                    <div class="my-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                        Nombre
                      </label>
                      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
                         type="text"
                         placeholder="Usuario"
                         formControlName="name"
                         >
                    </div>
                    <div class="my-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
                        Modificar Estatus
                      </label>
                      <select
                        class="shadow appearance-none border
                               rounded w-full py-2 px-3 text-gray-700
                               leading-tight focus:outline-none
                               focus:shadow-outline"
                               id="status"
                               type="text"
                               placeholder="Usuario"
                               formControlName="statusId">
                               <option></option>
                               <option *ngFor="let status of data.statues" [value]="status.id">
                                  {{status.status}}
                               </option>
                       </select>
                    </div>
                    <div class="my-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="supplier">
                        Modificar Proveedor
                      </label>
                      <select
                        class="shadow appearance-none border
                               rounded w-full py-2 px-3 text-gray-700
                               leading-tight focus:outline-none
                               focus:shadow-outline"
                               id="supplier"
                               type="text"
                               placeholder="Usuario"
                               formControlName="supplierId">
                               <option></option>
                               <option *ngFor="let supplier of data.suppliers" [value]="supplier.id">
                                {{supplier.name}}
                             </option>
                       </select>
                    </div>
                    <div class="my-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="commen">
                        Comentario
                      </label>
                      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username"
                         type="text"
                         placeholder="commentario"
                         id="commen"
                         formControlName="comments"
                         >
                    </div>
                  </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="flex justify-end items-center p-6 space-x-2 rounded-b border-t border-gray-200">
                <button data-modal-toggle="defaultModal"
                        type="button"
                        [disabled]="form.invalid"
                        class="text-white
                               hover:bg-green-800
                                 focus:ring-4
                                 focus:outline-none
                               focus:ring-blue-300
                                 font-medium rounded-lg
                                 text-sm px-5 py-2.5 text-center"
                        [ngClass]="{'bg-green-button': !form.invalid, 'bg-green-200': form.invalid}"
                        (click)="onSubmit()">
                               Guardar
                  </button>
                <button data-modal-toggle="defaultModal"
                        type="button"
                        class="text-gray-500
                               bg-white
                               hover:bg-gray-100
                                 focus:ring-4
                                 focus:outline-none
                               focus:ring-blue-300
                                 rounded-lg border
                               border-gray-200 text-sm
                                font-medium px-5 py-2.5
                               hover:text-gray-900 focus:z-10"
                          (click)="dialogRef.close()">
                                Cerrar
                </button>
            </div>
        </div>
    </div>
  </div>
</div>

