<separator-title title="Crear Receta"></separator-title>

<div class="w-full bg-white rounded-lg">
  <div  class="flex flex-col p-8">

    <loading *ngIf="loading"></loading>
    <form [formGroup]="form">
      <div class="w-full flex flex-row justify-start">
        <h3>Indique los datos de la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="assignament">
            Asignación
          </label>
          <select
            class="shadow appearance-none border
                   rounded w-full py-2 px-3 text-gray-700
                   leading-tight focus:outline-none
                   focus:shadow-outline"
            id="assignament"
            formControlName="assignament"
            (ngModelChange)="setTemplate($event)"
            >
            <option *ngFor="let assignament of assignaments" [ngValue]="assignament">
                {{ assignament.name}}
            </option>

          </select>
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Indique un nombre a la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Nombre
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name"
           />
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Indique una descripción de la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Descripción
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Descripción"
                 formControlName="description"
           />
        </div>
      </div>

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="template">
          Plantilla
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="template"
          formControlName="template"
          (ngModelChange)="setItems($event)"
          >
          <option *ngFor="let template of templates" [ngValue]="template">
              {{ template.name }}
          </option>

        </select>
      </div>

    </form>

    <!--<div class="w-full flex flex-row mt-8">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">Cantidad de empaque</th>
          <th scope="col" class="px-6 py-3">Unidad de medición</th>
        </thead>
        <tbody>
          <tr class="bg-white border-b"
              *ngFor="let item of items; let i = index">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900">{{ item.name}}</td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900">
              <input type="number" [value]="item.quantity" (change)="setItemData(i)">
            </td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900"> {{ item.unit}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->

    <div class="w-full flex flex-row mt-8" *ngIf="template">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">Cantidad (editable)</th>
          <th scope="col" class="px-6 py-3">Pesaje</th>
          <th scope="col" class="px-6 py-3">Unidad de medición</th>
        </thead>
        <tbody>
          <tr class="bg-white border-b"
              *ngFor="let item of template.items[0]; let i = index">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900">{{ item.name}}</td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 border-black" >
              <input type="number"   [(ngModel)]="itemData[i].itemData.quantity"
                     (ngModelChange)="changeQuantity($event)">
            </td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900">{{ item.quantity}}</td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900"> {{ item.unit}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full flex flex-row justify-end mt-8">
      <custom-button text="Crear receta"
      [disable]="form.invalid"
      (click)="onSubmit()"></custom-button>
    </div>
  </div>
</div>

