<separator-title title="Crear Receta"></separator-title>

<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div  class="flex flex-col p-8">

    <form [formGroup]="form">
      <div class="w-full flex flex-row justify-start">
        <h3>Indique los datos de la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="assignament">
            Asignación
          </label>
          <select
            class="shadow appearance-none border
                   rounded w-full py-2 px-3 text-gray-700
                   leading-tight focus:outline-none
                   focus:shadow-outline"
            id="assignament"
            formControlName="assignament"
            (ngModelChange)="setItems($event)"
            >
            <option *ngFor="let assignament of assignaments" [ngValue]="assignament">
                {{ assignament.name}}
            </option>

          </select>
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Asigne un nombre a la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Nombre
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Nombre"
                 formControlName="name"
           />
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Asigne una descripción de la receta</h3>
      </div>
      <div class="w-full flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Descripción
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Descripción"
                 formControlName="description"
           />
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Indique los productos de la receta</h3>
      </div>

      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="supplier">
            Seleccione el producto
          </label>
          <select
            class="shadow appearance-none border
                   rounded w-full py-2 px-3 text-gray-700
                   leading-tight focus:outline-none
                   focus:shadow-outline"
            id="company"
            formControlName="item"
            (ngModelChange)="setItem($event)"
            >
            <option *ngFor="let item of items" [ngValue]="item">
              {{ item.name }}
            </option>

          </select>
        </div>

      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>información del producto</h3>
      </div>

      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4" *ngIf="currentItem">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="qtx">
            Cantidad
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 [disabled]="true"
                 [value]="currentItem.quantity"

           />
        </div>

        <div class="my-4 w-full lg:w-1/2 lg:mx-4" *ngIf="currentItem">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="unit">
            Unidad
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 [value]="currentItem.unit"
                 [disabled]="true"

           />
        </div>

      </div>

      <div class="w-full flex flex-row justify-start">
        <h3>Indique la cantidad de productos asignados a la receta</h3>
      </div>

      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="qtx2">
            Cantidad
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 placeholder="1"
                 formControlName="qtx2"

           />
        </div>

      </div>

      <div class="w-full flex flex-row justify-end mt-8">
        <div class="w-1/2 mx-4 lg:w-[10%]">
          <button data-modal-toggle="defaultModal"
          type="button"
          class="text-white
                 bg-blue-700
                 hover:bg-blue-800
                   focus:ring-4
                   focus:outline-none
                 focus:ring-blue-300
                   font-medium rounded-lg
                   text-sm px-5 py-2.5 text-center"
          (click)="clear()">
                 Limpiar
          </button>
        </div>

        <div class="w-1/2 mx-4 lg:w-[10%]">
          <button data-modal-toggle="defaultModal"
          type="button"
          class="text-white
                 hover:bg-green-800
                   focus:ring-4
                   focus:outline-none
                 focus:ring-blue-300
                   font-medium rounded-lg
                   text-sm px-5 py-2.5 text-center"
          [ngClass]="{'bg-green-700': !form.invalid, 'bg-green-300': form.invalid}"
          [disabled]="form.invalid"
          (click)="storeItem()">
                 Agregar
          </button>
        </div>
      </div>
    </form>

    <div class="w-full flex flex-row mt-8">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-8">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <th scope="col" class="px-6 py-3">Producto</th>
          <th scope="col" class="px-6 py-3">Unidad</th>
          <th scope="col" class="px-6 py-3">Acciones</th>
        </thead>
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
              *ngFor="let item of products">
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">{{ item.name}}</td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap"> {{ item.unit}}</td>
            <td scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
              <button>
               <i class="bi bi-trash3" (click)="deleteItem(item)"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full flex flex-row justify-end mt-8">
      <custom-button text="Crear receta"
      [disable]="form.invalid"
      (click)="onSubmit()"></custom-button>
    </div>
  </div>
</div>

