<separator-title title="Instrucciones  (Alianza Inc)"></separator-title>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between pt-16">
      <div class="flex flex-col items-center lg:flex-row lg:justify-start lg:mx-8 lg:w-[40%]">
        <div class="w-full text-center lg:mx-2">
            <h6>Asignación:</h6>
        </div>
        <div class="w-full">
          <div class="my-4 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="assignament">

            </label>
            <select
              class="shadow appearance-none border
                     rounded w-full py-2 px-3 text-gray-700
                     leading-tight focus:outline-none
                     focus:shadow-outline"
                     id="assignament"
                     [(ngModel)]="assignamentId">
                     <option *ngFor="let assignament of assignaments" [value]="assignament.id">
                        {{assignament.name}}
                     </option>
             </select>
          </div>
        </div>
      </div>
      <a [routerLink]="'/providers/create-recipe/'+supplierId">
        <custom-button class="mx-12" text="Nueva Instrucción"></custom-button>
      </a>
    </div>
    <div class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <instructions-table class="w-full"
                          [assignamentId]="assignamentId"></instructions-table>
    </div>
  </div>
</div>

