<create-instructions-modal
  [showModal]="showModalCreate"
  (emiterModal)="closeModalCreate($event)"></create-instructions-modal>

  <edit-categories-modal
  [showModal]="showModalEdit"
  (emiterModal)="closeModalEdit($event)"></edit-categories-modal>

<h3 class="text-xl lg:text-2xl mb-8 pb-8 border-b-[1px] border-black lg:w-[80%] mt-[5px]">Instrucciones</h3>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between pt-16">
      <div class="flex flex-col items-center lg:flex-row lg:justify-start lg:mx-8">
        <div class="w-full text-center lg:mx-2">
            <h6>Asignación:</h6>
        </div>
        <div class="w-full">
          <div class="my-4 w-full">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="rol">

            </label>
            <select
              class="shadow appearance-none border
                     rounded w-full py-2 px-3 text-gray-700
                     leading-tight focus:outline-none
                     focus:shadow-outline"
                     id="rol"
                     type="text"
                     placeholder="Usuario">
                     <option>item 1</option>
                     <option>item 2</option>
                     <option>item 3</option>
             </select>
          </div>
        </div>
      </div>
      <custom-button class="mx-8" text="Nueva Instrucción" (click)="showCreateModal()"></custom-button>
    </div>
    <div class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <instructions-table class="w-full" (emiterCategoriesTable)="showEditModal($event)"></instructions-table>
    </div>
  </div>
</div>

