<div>
  <div>
    <div class="lg:pl-72 bg-grey-control-group h-screen" style="background: #eeeeee;">
        <div class="flex flex-col lg:flex-row">
          <div class="w-full lg:pt-4">
            <form [formGroup]="form" class="w-full lg:w-4/5 bg-white rounded-lg">
              <div class="flex flex-col p-8">
                <div class="w-full flex flex-row justify-center">
                  <h3>Indique su correo electronico para resetear la contraseña</h3>
                </div>
                <div class="w-full flex flex-row justify-center">
                  <div class="my-4 w-full lg:w-1/2 lg:mx-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                      Correo electronico
                    </label>
                    <input class="shadow appearance-none border
                                  rounded w-full py-2 px-3 text-gray-700
                                  leading-tight focus:outline-none
                                  focus:shadow-outline"
                           type="text"
                           placeholder="ejemplo@controlgroup.com"
                           formControlName="email"
                     />
                  </div>

                </div>

                <div class="w-full flex flex-row justify-center mt-8">
                  <custom-button text="Resetear" (click)="onSubmit()" [disable]="form.invalid"></custom-button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
