<create-assignments-modal
  [showModal]="showModalCreate"
  (emiterModal)="closeModalCreate($event)"></create-assignments-modal>

  <edit-assignments-modal
  [showModal]="showModalEdit"
  (emiterModal)="closeModalEdit($event)"></edit-assignments-modal>

<separator-title title="Lista de asignaciones (Alianza Inc)"></separator-title>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex justify-end items-center pt-16 mr-12">
      <custom-button text="Nueva Asignación" (click)="showCreateModal()"></custom-button>
    </div>
    <div class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <assignments-table class="w-full" (emiterCategoriesTable)="showEditModal($event)"></assignments-table>
    </div>
  </div>
</div>

