<separator-title title="Crear Asignación"></separator-title>

<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <form [formGroup]="form" class="flex flex-col p-8">
    <div class="w-full flex flex-row justify-start">
      <h3>Indique la categoría</h3>
    </div>
    <div class="w-full flex flex-row justify-start">

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
          Nombre
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="Nombre"
               formControlName="name"
         />
      </div>

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="supplier">
          Proveedor
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="company"
          formControlName="supplierId"
          >
          <option>Categoria 1</option>
          <option>Categoria 1</option>
          <option>Categoria 1</option>
        </select>
      </div>

    </div>

    <div class="w-full flex flex-row justify-start">
      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="company">
          Categoría
        </label>
        <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="company"
          formControlName="categoryId"
          >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="my-4 w-full lg:w-1/2 lg:mx-4" *ngIf="form.value.categoryId">
        <subcategory-select [categoryId]="form.value.categoryId" (subCategoryEmiter)="setSubcategoryId($event)"></subcategory-select>
      </div>

    </div>

    <div class="w-full flex flex-row justify-start">

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
          Descripción
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="Descripción"
               formControlName="description"
         />
      </div>

    </div>

    <div class="w-full flex flex-row justify-start">

      <div class="my-4 w-full lg:w-1/2 lg:mx-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="comments">
          Comentarios
        </label>
        <input class="shadow appearance-none border
                      rounded w-full py-2 px-3 text-gray-700
                      leading-tight focus:outline-none
                      focus:shadow-outline"
               type="text"
               placeholder="Comentarios"
               formControlName="comments"
         />
      </div>

    </div>

    <div class="w-full flex flex-row justify-end mt-8">
      <custom-button text="Agregar" (click)="onSubmit()" [disable]="form.invalid"></custom-button>
    </div>
  </form>
</div>

