<div>
  <div>
    <div class="lg:pl-80 lg:pt-4 h-screen"  style="background-color: #eeeeee">


      <div class="flex flex-col w-full items-center">

        <div class="w-full flex flex-col justify-center items-center lg:flex-row lg:justify-start">
          <h5 class="text-subtitle">Seleccione el proveedor</h5>
        </div>
      </div>

      <loading *ngIf="loading"></loading>
      <div *ngIf="!loading">
        <provider-card *ngFor="let provider of suppliers"
        [supplier]="provider"
        [company]="company"></provider-card>
      </div>

    </div>
  </div>
</div>
