
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                ID
              </th>
              <th scope="col" class="px-6 py-3">
                Nro de Guía
              </th>
              <th scope="col" class="px-6 py-3">
                Estatus
              </th>
              <th scope="col" class="px-6 py-3">
                Producción
              </th>
              <th scope="col" class="px-6 py-3">
                Cantidad
            </th>
              <th scope="col" class="px-6 py-3">
                Acciones
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b text-black"
            *ngFor="let dispatch of dispatchs">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                {{ dispatch.id }}
              </th>
              <td class="px-6 py-4">
                {{ dispatch.guideNumber}}
              </td>
              <td class="px-6 py-4">
                {{ dispatch.statusData.status }}
              </td>
              <td class="px-6 py-4">
                {{ production?.recipeData?.name }}
              </td>
              <td class="px-6 py-4">
                {{ dispatch.dispatchQuantity }}
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex flex-row justify-start">
                    <button (click)="viewDispatch(dispatch)"><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                    <button (click)="selectEdit(dispatch)" *ngIf="dispatch.statusData.status !== 'Despachado'
                    && dispatch.statusData.status !== 'Devuelto'">
                        <i class="text-2xl mx-2 text-blue-700"
                           [ngClass]="{'bi bi-pencil-square': dispatch.statusData.status !== 'En espera',
                                       'bi bi-truck text-green-700': dispatch.statusData.status === 'En espera'}"></i>
                    </button>
                    <button (click)="returnDispatch(dispatch)" *ngIf="dispatch.statusData.status !== 'Devuelto'"><i class="bi bi-arrow-clockwise text-2xl mx-2 text-red-700"></i></button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
