<separator-title title="Crear municipio"></separator-title>

<div class="w-full bg-white rounded-lg">
  <div  class="flex flex-col p-8">

    <form [formGroup]="form">
      <div class="w-full flex flex-row justify-start">
        <h3>Indique el nombre del municipio</h3>
      </div>
      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Nombre
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="Nombre"
                 [ngClass]="{'focus:border-red-700': form.value.name!.length < 3 || form.value.name!.length > 30}"
                 formControlName="name"
           />
        </div>
      </div>

      <div class="w-full flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="state">
            Estado
          </label>
          <select
            class="shadow appearance-none border
                   rounded w-full py-2 px-3 text-gray-700
                   leading-tight focus:outline-none
                   focus:shadow-outline"
            id="assignament"
            formControlName="state"
            (ngModelChange)="setState($event)"
            >
            <option *ngFor="let state of states" [ngValue]="state">
                {{ state.name}}
            </option>

          </select>
        </div>

      </div>

      <div class="w-full flex flex-row justify-end mt-8">

        <div class="w-1/2 mx-4 lg:w-[10%]">
          <button data-modal-toggle="defaultModal"
          type="button"
          class="text-white
                 hover:bg-green-800
                   focus:ring-4
                   focus:outline-none
                 focus:ring-blue-300
                   font-medium rounded-lg
                   text-sm px-5 py-2.5 text-center"
          [ngClass]="{'bg-green-700': form.valid, 'bg-green-300': form.invalid}"
          [disabled]="form.invalid"
          (click)="onSubmit()">
                 Agregar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

