<div class="flex flex-row overflow-x-auto py-5 lg:flex-col w-full lg:ml-6  bg-grey-control-group h-full">
  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/categories/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-archive flex justify-center lg:inline-block"></i>
        <span class="ml-4">Categorias</span>
      </div>
    </a>
  </div>

  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/assignments/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-pencil-square flex justify-center lg:inline-block"></i>
        <span class="ml-4">Asignación</span>
      </div>
    </a>
  </div>

  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/instructions/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-card-checklist flex justify-center lg:inline-block"></i>
        <span class="ml-4">Instrucciones</span>
      </div>
    </a>
  </div>

  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/production/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-truck-flatbed flex justify-center lg:inline-block"></i>
        <span class="ml-4">Producción</span>
      </div>
    </a>
  </div>

  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/dispatch/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-truck flex justify-center lg:inline-block"></i>
        <span class="ml-4">Despacho</span>
      </div>
    </a>
  </div>

  <div class="w-full lg:pb-4 lg:pl-4 lg:w-full">
    <a [routerLink]="'/providers/settings/'+supplierId" [routerLinkActive]="['text-blue-700']" class="cursor-pointer hover:text-blue-700">
      <div class="text-2xl">
        <i class="bi bi-gear flex justify-center lg:inline-block"></i>
        <span class="ml-4">Configuración</span>
      </div>
    </a>
  </div>

</div>
