<div>
  <div>
    <div class="lg:pl-80 lg:pt-32 h-screen" style="background-color: #eeeeee">
        <!-- <home-cards class="pl-16"
        [title]="'¡Todo está al día!'"
        [body]="'Es hora de tomarse un café, Bien Hecho'"
        [type]="'success'"></home-cards>

        <home-cards class="pl-16"
        [title]="'¡Todo está al día!'"
        [body]="'Es hora de tomarse un café, Bien Hecho'"
        [type]="'danger'"></home-cards>

        <home-cards class="pl-16"
        [title]="'¡Todo está al día!'"
        [body]="'Es hora de tomarse un café, Bien Hecho'"
        [type]="'warning'"></home-cards> -->
    </div>
  </div>
</div>
