<back-link [route]="'/providers/categories/'+supplierId"></back-link>
<separator-title title="Lista de categorias"></separator-title>
<div class="w-full bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex flex-col justify-center lg:flex-row lg:justify-between pt-16 lg:mr-12 px-8">

      <search-input class="flex flex-row justify-center px-4"
                     [label]="'Buscar Subcategoria'"
                     [placeholder]="'Buscar por id'"
                     (searching)="getSearch($event)"></search-input>

      <a [routerLink]="'/providers/create-subcategory/'+supplierId" *ngIf="accessService.canCreate()">
        <custom-button  class="m-auto lg:m-0" text="Nueva Subcategoria"></custom-button>
      </a>
    </div>

    <loading *ngIf="loading"></loading>
    <div *ngIf="!loading" class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <categories-table class="w-full"
                        *ngIf="supplier"
                        [subcategories]="subcategories"
                        [supplierId]="supplier!.id"></categories-table>
    </div>
  </div>
</div>

