<div>
  <div>
    <div class="lg:pl-80 lg:pt-32 bg-gray-300 h-screen">
      <div class="flex flex-col w-full items-center">

        <div class="w-full flex flex-col justify-center items-center lg:flex-row lg:justify-start">
          <h5 class="text-xl">Seleccione la empresa</h5>
        </div>

        <div class="w-full flex flex-col items-center lg:flex-row lg:justify-between">
          <div class="w-1/2 flex flex-col items-center lg:flex-row lg:justify-between">

            <div class="my-4 w-full lg:w-1/2">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="enterprises">
                Seleccione la empresa
              </label>
              <select
                class="shadow appearance-none border
                       rounded w-full py-2 px-3 text-gray-700
                       leading-tight focus:outline-none
                       focus:shadow-outline"
                       id="enterprises">
                       <option>Empresa 1</option>
                       <option>Empresa 2</option>
                       <option>Empresa 3</option>
               </select>
            </div>

            <div class="my-4 w-full lg:w-1/2">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
                Estatus
              </label>
              <select
                class="shadow appearance-none border
                       rounded w-full py-2 px-3 text-gray-700
                       leading-tight focus:outline-none
                       focus:shadow-outline"
                       id="status">
                       <option>Todos</option>
                       <option>Estatus 2</option>
                       <option>Estatus 3</option>
               </select>
            </div>
          </div>
          <div class="w-1/2 flex flex-row justify-between">
            <div class="my-4">
              <custom-button text="Buscar Empresas"></custom-button>
            </div>
          </div>
        </div>
      </div>
      <div class="rounded overflow-hidden shadow-lg border-black bg-white">
        <div class="w-full bg-blue-control-group text-white">
            <div class="flex flex-row justify-between">
              <h5 class="ml-2">Alianzas Inc</h5>
              <h6 class="mr-2">ID: 166587421</h6>
            </div>
        </div>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <div class="text-gray-700 text-base">
            <div class="w-full flex flex-col justify-items-start">
              <span>Rif: <b>J-6849874156</b></span>
              <span>Nombre Comercial: <b>Abonanza Alimentos</b></span>
              <span>Estatus: <b>Activo</b></span>
            </div>
          </div>
        </div>
        <div class="px-6 pt-4 pb-2">
          <div class="flex flex-row justify-end">
            <custom-button text="Ver Proveedores"></custom-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
