
<separator-title [title]="'Nueva empresa'"></separator-title>
<div class="w-full bg-white rounded-lg">
  <form [formGroup]="form">
    <div class="flex flex-col p-8">
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Indique los datos de la empresa</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
            Nombre
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="nombre"
                 formControlName="name"
           />
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
            RIF
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="rif"
                 formControlName="rif"
           />
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
            Nombre comercial
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="nombre"
                 formControlName="comercialName"
           />
        </div>
      </div>
      <div class="w-full flex flex-row justify-center lg:justify-end mt-8">
        <custom-button text="Agregar" (click)="onSubmit()" [disable]="form.invalid"></custom-button>
      </div>
    </div>
  </form>
</div>

