<div class="bg-gray-800 text-white">
  <div class="flex flex-row justify-between">
    <div class="w-1/2">
      <img
        src="../../../assets/img/bill.webp"
        class="rounded-[50%] w-[80px] h-[80px] m-auto"/>
    </div>
    <div class="w-1/2">
      <div class="flex flex-col items-center p-4">
        <div class="w-full">
          <span>Jesus Sanchez</span>
        </div>
        <div class="w-full">
          <span>ID: 45662187</span>
        </div>
      </div>
    </div>
  </div>
</div>
