<nav class="bg-gray-900 md:bg-white md:shadow-lg md:shadow-gray-300 md:mb-2">
  <div class="container bg-gray-900 w-full flex justify-center py-10 mx-auto
            md:bg-white md:justify-center
              lg:h-[130px] lg:justify-start
              lg:ml-[350px]">
  <span
  class="absolute text-white text-4xl top-5 left-4 cursor-pointer"
  (click)="buttonSideMenu()">
  <i class="bi bi-filter-left  bg-gray-900 rounded-md"></i>
</span>

<dinamic-title-icon title="{{title.getTitle()}}"></dinamic-title-icon>

  </div>
</nav>

    <div
      class="sidebar fixed top-0 bottom-0 lg:left-0  w-[300px] overflow-y-auto text-center bg-gray-900 z-50"
      *ngIf="isOpen"
    >
      <div class="text-gray-100 text-xl bg-blue-control-group">
        <i
            class="bi bi-x cursor-pointer text-4xl lg:hidden"
            (click)="buttonSideMenu()"
          ></i>
        <div class="p-2.5 flex items-center h-[120px]">
          <img src="../../../assets/img/logo_blanco.png" class="h-full w-[150px] m-auto"/>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
      </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-house-door-fill text-2xl"></i>
        <a [routerLink]="'/home'">
          <span class="text-2xl ml-4 text-gray-200 font-bold">Inicio</span>
        </a>
      </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-people-fill text-2xl"></i>
        <a [routerLink]="'/users'">
          <span class="text-2xl ml-4 text-gray-200 font-bold">Usuario</span>
        </a>
      </div>
      <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="bi bi-briefcase-fill text-2xl"></i>
      <a [routerLink]="'/enterprises'">
        <span class="text-2xl ml-4 text-gray-200 font-bold">Empresas</span>
      </a>
    </div>
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="bi bi-card-checklist text-2xl"></i>
      <a [routerLink]="'/reports'">
        <span class="text-2xl ml-4 text-gray-200 font-bold">Reportes</span>
      </a>
    </div>
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white lg:mb-40"
    >
      <i class="bi bi-gear-fill text-2xl"></i>
      <a [routerLink]="'/settings/categories'">
        <span class="text-2xl ml-4 text-gray-200 font-bold">Ajustes</span>
      </a>
    </div>
    <div>
      <sidebar-user-info></sidebar-user-info>
    </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-box-arrow-in-right text-2xl"></i>
        <a [routerLink]="'/login'">
          <span class="text-2xl ml-4 text-gray-200 font-bold">Logout</span>
        </a>
      </div>
    </div>
