<span
      class="absolute text-white text-4xl top-5 left-4 cursor-pointer"
      (click)="buttonSideMenu()"
    >
      <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
    </span>
    <div
      class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900"
      *ngIf="isOpen"
    >
      <div class="text-gray-100 text-xl bg-blue-700">
        <i
            class="bi bi-x cursor-pointer text-4xl lg:hidden"
            (click)="buttonSideMenu()"
          ></i>
        <div class="p-2.5 mt-1 flex items-center">
          <img src="../../../assets/img/logo_blanco.png" />
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
      </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-house-door-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Inicio</span>
      </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-people-fill"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Usuario</span>
      </div>
      <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="bi bi-briefcase-fill"></i>
      <span class="text-[15px] ml-4 text-gray-200 font-bold">Empresas</span>
    </div>
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="bi bi-card-checklist"></i>
      <span class="text-[15px] ml-4 text-gray-200 font-bold">Reportes</span>
    </div>
    <div
      class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
    >
      <i class="bi bi-gear-fill"></i>
      <span class="text-[15px] ml-4 text-gray-200 font-bold">Ajustes</span>
    </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Logout</span>
      </div>
    </div>
