<label class="block text-gray-700 text-sm font-bold mb-2" for="company">
  Subcategoría
</label>
<select
  class="shadow appearance-none border
         rounded w-full py-2 px-3 text-gray-700
         leading-tight focus:outline-none
         focus:shadow-outline"
  id="company"
  [(ngModel)]="subcategoryId"
  (ngModelChange)="sendSubcategoryId(subcategoryId)"
  >
  <option></option>
  <option *ngFor="let subcategory of subcategories" [value]="subcategory.id">
    {{ subcategory.name}}
  </option>

</select>
