<separator-title title="Despachar Producción"></separator-title>

<div class="w-full bg-white rounded-lg">
  <div  class="flex flex-col p-8">

    <loading *ngIf="loading"></loading>
    <form [formGroup]="form">
      <div class="w-full flex flex-row justify-start">
        <h3>Datos de la Producción</h3>
      </div>
      <div class="w-full flex flex-col lg:flex-row justify-start" *ngIf="production">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
            ID
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 inputmode="numeric"
                 min="0"
                 [disabled]="true"
                 [value]="production?.id"
           />
        </div>

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="production">
            Producción
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 [disabled]="true"
                 [value]="production.recipeData.name"
                 placeholder="Producción"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4" *ngIf="production">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="available-dispatch">
            Disponible para despachar
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 inputmode="numeric"
                 min="0"
                 [disabled]="true"
                 [value]="production?.stockProduction"
           />
        </div>

      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <h3>Indique los datos del despacho</h3>
      </div>
      <div class="w-full flex-col lg:flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nro-guia">
            Nro de Guia:
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="1234566789"
                 maxlength="9"
                 [ngClass]="{'focus:border-red-700': form.value.guideNumber!.length < 9 || form.value.guideNumber!.length > 9}"
                 formControlName="guideNumber"
           />
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nro-nota">
            Nro de Nota:
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="123456789"
                 maxlength="9"
                 [ngClass]="{'focus:border-red-700': form.value.noteNumber!.length < 9 || form.value.noteNumber!.length > 9}"
                 formControlName="noteNumber"
           />
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4" *ngIf="production && production.stockProduction">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="nro-nota">
            Cantidad de despacho:
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="number"
                 inputmode="numeric"
                 min="0"
                 [max]="production!.stockProduction!.toString()"
                 placeholder="900"
                 [ngClass]="{'focus:border-red-700': production &&
                           form.value.dispatchQuantity === 0 && form.value.dispatchQuantity > production!.stockProduction}"
                 formControlName="dispatchQuantity"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="registrationNumber">
            Placa de camión
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder=""
                 [ngClass]="{'focus:border-red-700': form.value.registrationNumber!.length < 3 || form.value.registrationNumber!.length > 30}"
                 formControlName="registrationNumber"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">

        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <input id="hold-checkbok"
                 type="checkbox"
                 value=""
                 class="w-4 h-4 text-blue-600 bg-gray-100 rounded
                      border-gray-300 focus:ring-blue-50 focus:ring-2"
                formControlName="onHold">

          <label for="hold-checkbox" class="ml-2 text-sm font-medium text-gray-900">¿Se encuentra en espera por despachar?</label>
        </div>
      </div>

      <loading *ngIf="loading"></loading>
      <div class="w-full flex flex-col lg:flex-row justify-start" *ngIf="!loading">
        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="state">
            Estado
          </label>
          <select
              class="shadow appearance-none border
                     rounded w-full py-2 px-5 text-gray-700
                     leading-tight focus:outline-none
                     focus:shadow-outline"
                     id="state"
                     formControlName="state"
                     (ngModelChange)="setState($event)">
                     <option *ngFor="let state of states" [ngValue]="state">
                        {{ state.name }}
                     </option>
             </select>
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="municipality">
            Municipio
          </label>
          <select
              class="shadow appearance-none border
                     rounded w-full py-2 px-5 text-gray-700
                     leading-tight focus:outline-none
                     focus:shadow-outline"
                     id="municipality"
                     formControlName="municipality"
                     (ngModelChange)="setMunicipality($event)">
                     <option *ngFor="let municipality of municipalities" [ngValue]="municipality">
                        {{ municipality.name }}
                     </option>
             </select>
        </div>

        <div class="my-4 w-full lg:w-1/3 lg:mx-4" >
          <label class="block text-gray-700 text-sm font-bold mb-2" for="parish">
            Parroquia
          </label>
          <select
              class="shadow appearance-none border
                     rounded w-full py-2 px-5 text-gray-700
                     leading-tight focus:outline-none
                     focus:shadow-outline"
                     id="parish"
                     formControlName="parish"
                     (ngModelChange)="setParish($event)">
                     <option *ngFor="let  parish of parishes" [ngValue]="parish">
                        {{ parish.name }}
                     </option>
             </select>
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start" *ngIf="state">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Destino
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 [value]="destination"
                 disabled="true"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Comentarios
          </label>
          <input class="shadow appearance-none border
                        rounded w-full py-2 px-3 text-gray-700
                        leading-tight focus:outline-none
                        focus:shadow-outline"
                 type="text"
                 placeholder="comentario"
                 [ngClass]="{'focus:border-red-700': form.value.comments!.length < 3 || form.value.comments!.length > 250}"
                 formControlName="comments"
           />
        </div>
      </div>

      <div class="w-full flex-col lg:flex flex-row justify-start">
        <div class="my-4 w-full lg:w-1/2 lg:mx-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Incidencias
          </label>
          <textarea class="shadow appearance-none border
                           rounded w-full py-2 px-3 text-gray-700
                           leading-tight focus:outline-none
                           focus:shadow-outline"
                           [ngClass]="{'focus:border-red-700': form.value.incidents!.length < 3 || form.value.incidents!.length > 250}"
                           formControlName="incidents">
          </textarea>
        </div>
      </div>

      <div class="w-full flex flex-row justify-center lg:justify-end mt-8">

        <div class="w-1/2 mx-4 lg:w-[10%]">
          <button data-modal-toggle="defaultModal"
          type="button"
          class="text-white
                 bg-green-700
                   focus:ring-4
                   focus:outline-none
                 focus:ring-blue-300
                   font-medium rounded-lg
                   text-sm px-5 py-2.5 text-center"
          [ngClass]="{'bg-green-700': form.valid, 'bg-gray-300': form.invalid}"
          (click)="onSubmit()">
                 Despachar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

