
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                Asignación
              </th>
              <th scope="col" class="px-6 py-3">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                Meta
              </th>
              <th scope="col" class="px-6 py-3">
                Pendiente por produccion
            </th>
            <th scope="col" class="px-6 py-3">
              Subcategoria
            </th>
            <th scope="col" class="px-6 py-3">
              Especial
            </th>
          <th scope="col" class="px-6 py-3">
              Acciones
          </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b text-black"
              *ngFor="let item of assignments">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                {{ item.id }}
              </th>
              <td class="px-6 py-4">
                {{ item.name }}
              </td>
              <td class="px-6 py-4">
                {{ item.record}}
              </td>
              <td class="px-6 py-4">
                {{ item.recordStock }}
              </td>
              <td class="px-6 py-4">
                {{ item.subcategoryData.name }}
              </td>
              <td class="px-6 py-4">
                {{ item.special ? 'Sí' : 'No' }}
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex flex-row justify-start">
                    <button (click)="showAssignment(item)"><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                    <button (click)="selectEdit(item)"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
