
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Asignación
              </th>
              <th scope="col" class="px-6 py-3">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                Estatus
              </th>
              <th scope="col" class="px-6 py-3">
                Fecha
            </th>
              <th scope="col" class="px-6 py-3">
                Acciones
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                48489794
              </th>
              <td class="px-6 py-4">
                Marzo
              </td>
              <td class="px-6 py-4">
                Atrasado
              </td>
              <td class="px-6 py-4">
                13/03/2022
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex flex-row justify-start">
                    <button><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                    <button><i class="bi bi-bar-chart-steps text-2xl mx-2 text-blue-700"></i></button>
                    <button (click)="selectEdit()"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
                </div>
              </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
              8975123
            </th>
            <td class="px-6 py-4">
              Marzo Especial
            </td>
            <td class="px-6 py-4">
              En proceso
            </td>
            <td class="px-6 py-4">
              10/03/2022
            </td>
            <td class="px-6 py-4 text-right">
              <div class="flex flex-row justify-start">
                  <button><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                  <button><i class="bi bi-bar-chart-steps text-2xl mx-2 text-blue-700"></i></button>
                  <button (click)="selectEdit()"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
              </div>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
            54984465
          </th>
          <td class="px-6 py-4">
            Abril
          </td>
          <td class="px-6 py-4">
            Completado
          </td>
          <td class="px-6 py-4">
            22/02/2022
          </td>
          <td class="px-6 py-4 text-right">
            <div class="flex flex-row justify-start">
                <button><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                <button><i class="bi bi-bar-chart-steps text-2xl mx-2 text-blue-700"></i></button>
                <button (click)="selectEdit()"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
            </div>
          </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
          879854651
        </th>
        <td class="px-6 py-4">
          Enero
        </td>
        <td class="px-6 py-4">
          Cancelado
        </td>
        <td class="px-6 py-4">
          01/01/2022
        </td>
        <td class="px-6 py-4 text-right">
          <div class="flex flex-row justify-start">
              <button><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
              <button><i class="bi bi-bar-chart-steps text-2xl mx-2 text-blue-700"></i></button>
              <button (click)="selectEdit()"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
          </div>
        </td>
    </tr>


      </tbody>
  </table>
</div>
