
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                Asignación
              </th>
              <th scope="col" class="px-6 py-3">
                Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                Meta
              </th>
              <th scope="col" class="px-6 py-3">
                Meta pendiente
            </th>
            <th scope="col" class="px-6 py-3">
              Subcategoria
          </th>
          <th scope="col" class="px-6 py-3">
              Acciones
          </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-black"
              *ngFor="let item of assignments">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                {{ item.id }}
              </th>
              <td class="px-6 py-4">
                {{ item.name }}
              </td>
              <td class="px-6 py-4">
                {{ item.record}}
              </td>
              <td class="px-6 py-4">
                {{ item.recordStock }}
              </td>
              <td class="px-6 py-4">
                {{ item.subcategoryData.name }}
              </td>
              <td class="px-6 py-4 text-right">
                <div class="flex flex-row justify-start">
                    <button><i class="bi bi-eye text-2xl mx-2 text-blue-700"></i></button>
                    <button><i class="bi bi-bar-chart-steps text-2xl mx-2 text-blue-700"></i></button>
                    <button (click)="selectEdit()"><i class="bi bi-pencil-square text-2xl mx-2 text-blue-700"></i></button>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
