<back-link [route]="'/settings/categories'"></back-link>
<separator-title *ngIf="supplier" [title]="'Plantillas '+supplier.name+''"></separator-title>

<loading *ngIf="loading"></loading>

<div class="w-full bg-white rounded-lg">
  <div class="flex flex-col">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between lg:mt-4">
      <div *ngIf="!loading" class="w-full flex flex-col items-center lg:flex-row lg:justify-start lg:mx-8 lg:w-[40%]">

        <div class="flex flex-col lg:flex-row lg:justify-between lg:mr-12 px-8">

          <search-input *ngIf="assignament" class="flex flex-row justify-center px-4 lg:mt-6"
                        [label]="'Buscar plantilla'"
                        [placeholder]="'Buscar por id'"
                        (searching)="getSearch($event)"
                       ></search-input>
       </div>
      </div>
      <a class="m-auto lg:m-0"
         [routerLink]="'/settings/create-template'"
         *ngIf="accessService.canCreate()">
        <custom-button class="mx-12" text="Nueva Plantilla"></custom-button>
      </a>
    </div>
    <div class="flex justify-center px-8 py-12 max-w-full overflow-auto">
      <template-table class="w-full"
                      [supplierId]="supplierId"
                      [templates]="templates"></template-table>
    </div>
  </div>
</div>

