

<h3 class="text-xl lg:text-2xl mb-8 pb-8 border-b-[1px] border-black lg:w-[80%] mt-[5px]">Lista de categorias</h3>
<div class="w-full lg:w-4/5 bg-white rounded-lg">
  <div class="flex w-full flex-col items-center lg:flex-row lg:justify-center">
    <div class="my-4 w-full lg:w-1/3 lg:mx-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
        Nombre del proveedor
      </label>
      <input class="shadow appearance-none border
                    rounded w-full py-2 px-3 text-gray-700
                    leading-tight focus:outline-none
                    focus:shadow-outline"
             value="Alianzas INK"/>
    </div>

    <div class="my-4 w-full lg:w-1/3 lg:mx-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
        Nombre comercial
      </label>
      <input class="shadow appearance-none border
                    rounded w-full py-2 px-3 text-gray-700
                    leading-tight focus:outline-none
                    focus:shadow-outline"
             value="Abonanzas alimentos"/>
    </div>

    <div class="my-4 w-full lg:w-1/3 lg:mx-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
        RIF
      </label>
      <input class="shadow appearance-none border
                    rounded w-full py-2 px-3 text-gray-700
                    leading-tight focus:outline-none
                    focus:shadow-outline"
             value="J-87849-01"/>
    </div>
  </div>

  <div class="flex w-full flex-col items-center lg:flex-row lg:justify-center">
    <div class="my-4 w-full lg:w-1/2 lg:mx-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
        Categoria
      </label>
      <select
          class="shadow appearance-none border
                 rounded w-full py-2 px-3 text-gray-700
                 leading-tight focus:outline-none
                 focus:shadow-outline"
          id="scategory">
            <option>Categoria 1</option>
            <option>Categoria 2</option>
            <option>Categoria 3</option>
      </select>
    </div>

    <div class="my-4 w-full lg:w-1/2 lg:mx-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="status">
        Nombre comercial
      </label>
      <input class="shadow appearance-none border
                    rounded w-full py-2 px-3 text-gray-700
                    leading-tight focus:outline-none
                    focus:shadow-outline"
             value="Abonanzas alimentos"/>
    </div>
  </div>

  <div class="flex w-full flex-col items-center lg:flex-row lg:justify-end">
    <button data-modal-toggle="defaultModal"
    type="button"
    class="text-white
           bg-green-700
           hover:bg-green-800
             focus:ring-4
             focus:outline-none
           focus:ring-blue-300
             font-medium rounded-lg
             text-sm px-5 py-2.5 text-center
             mx-16
             my-16">
           Guardar
    </button>
  </div>
</div>

